@use 'styles/media-queries' as *;

.description {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;

  em {
    color: #d7a830;
  }
  @include media(470px) {
    justify-content: flex-end;
  }
}
.date {
  @include media($tablet-l) {
    display: none;
  }
}

.hideMobile {
  @include media($tablet-s) {
    display: none;
  }
}

.code {
  span {
    @include media($tablet-l) {
      display: none;
    }
  }
}
