* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  margin-block: 0px;
  color: #6c6c70;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

p,
b,
em,
span {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.048px;
}
b,
em {
  font-weight: 600;
}
